.photo-grid {
    display: grid;
    justify-items: center;
    margin-top: 92px;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-columns: minmax(288px, auto);
    grid-auto-rows: minmax(288px, auto);
    grid-row-gap: 16px;
    grid-column-gap: 16px;
    position: relative;
    max-width: 1184px;
}

@media screen and (min-width: 320px) {
    .photo-grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(12, 1fr);
        grid-row-gap: 12px;
        grid-column-gap: 16px;
        max-width: 288px;
    }
}


@media screen and (min-width: 768px) {
    .photo-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-row-gap: 16px;
        grid-column-gap: 16px;
        max-width: 720px;
    }
}

@media screen and (min-width: 1024px) {
    .photo-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-row-gap: 14px;
        grid-column-gap: 14px;
        max-width: 928px;
    }
}

@media screen and (min-width: 1280px) {
    .photo-grid {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-row-gap: 16px;
        grid-column-gap: 16px;
        max-width: 1184px;
    }
}