.places__title {
    display: flex;
    margin: 0;
    color: #FFFFFF;
    max-width: 460px;
    font-size: 72px;
    font-weight: 900;
    line-height: 76px;
    font-family: 'inter', sans-serif;
    margin-right: auto;
    margin-left: auto;
    align-items: flex-end;
    min-width: 460px;
}

@media screen and (max-width: 1279px) {
    .places__title {
        min-width: 440px;
    }
}

@media screen and (max-width: 1023px) {
    .places__title {
        font-size: 42px;
        line-height: 46px;
        min-width: 340px;
    }
}

@media screen and (max-width: 767px) {
    .places__title {
        font-size: 32px;
        line-height: 35px;
        min-width: 288px;
    }
}