.header__logo {
    display: flex;
    position: relative;
    justify-content: flex-start;
    max-width: 176px;
}

@media screen and (max-width: 767px) {
    .header__logo {
        max-width: 142px;
    }
}