.cover__title {
    margin: 0;
    font-size: 72px;
    font-weight: 900;
    line-height: 76px;
    font-style: normal;
    letter-spacing: 0em;
    text-align: center;
    max-width: 560px;
    text-decoration: none;
    color: #FFFFFF;
    z-index: 3;
}

@media screen and (min-width: 320px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px; /* 109.375% */
        max-width: 288px;
    }
}


@media screen and (min-width: 768px) {
    .cover__title {
        font-size: 72px;
        line-height: 76px; /* 105.556% */
        max-width: 560px;
    }
}